<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<nav>
    <form th:action="@{/}">
        <button type="submit">Strona główna</button>
    </form>
    <div sec:authorize="isAnonymous()">
        <form th:action="@{/login}">
            <button type="submit">Logowanie</button>
        </form>
    </div>
    <div sec:authorize="isAnonymous()">
        <form th:action="@{/register}">
            <button type="submit">Rejestracja</button>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/notes}">
            <button type="submit">Notatki</button>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/manage}">
            <button type="submit">Konto</button>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()">
        <form method="post" th:action="@{/logout}">
            <button type="submit">Wyloguj się</button>
        </form>
    </div>
</nav>
<br>
<h1>Zaloguj się</h1>
<div th:if="${param.error}">
    Błędna nazwa użytkownika lub hasło
</div>
<div th:if="${param.logout}">
    Zostałeś poprawnie wylogowany
</div>
<form class="register" method="post" th:action="@{/process-login}">

    <label for="username">Nazwa użytkownika</label>
    <input id="username" name="username" placeholder="Username" type="text"/>

    <label for="username">Hasło</label>
    <input id="password" name="password" placeholder="Password" type="password"/>

    <label for="2FA">Token 2FA - jeżeli używasz</label>
    <input id="2FA" name='code' placeholder="2FA Token" type='text'/>

    <input type="submit" value="Zaloguj się"/>
</form>
<form th:action="@{/password-reset}">
    <button type="submit">Zapomniałem hasła</button>
</form>
</body>
</html>