<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zarządzaj kontem</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<nav>
    <form th:action="@{/}">
        <button type="submit">Strona główna</button>
    </form>
    <div sec:authorize="isAnonymous()">
        <form th:action="@{/login}">
            <button type="submit">Logowanie</button>
        </form>
    </div>
    <div sec:authorize="isAnonymous()">
        <form th:action="@{/register}">
            <button type="submit">Rejestracja</button>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/notes}">
            <button type="submit">Notatki</button>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/manage}">
            <button type="submit">Konto</button>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()">
        <form method="post" th:action="@{/logout}">
            <button type="submit">Wyloguj się</button>
        </form>
    </div>
</nav>
<br>
<span>Aktualnie zalogowany użytkownik:</span>
<span th:text="${username}"></span>
<h1>Zmień hasło</h1>
<form action="#" method="post" th:action="@{/change-password}" th:object="${passwordForm}">
    <label for="currentPassword">Aktualne Hasło:</label>
    <input id="currentPassword" name="currentPassword" required th:field="*{oldPassword}" type="password"><br>

    <label for="newPassword">Nowe Hasło:</label>
    <input id="newPassword" name="newPassword" required th:field="*{newPassword}" type="password"><br>

    <label for="confirmPassword">Potwierdź Nowe Hasło:</label>
    <input id="confirmPassword" name="confirmPassword" required th:field="*{newPasswordRepeat}" type="password"><br>

    <input type="submit" value="Zmień Hasło">
</form>
<br>
<h1>Zmień stan TOTP</h1>
<form action="#" method="post" th:action="@{/change-totp}" th:object="${totpForm}">
    <label for="totp">Włącz/wyłącz TOTP(aktualny stan pokazany):</label>
    <input id="totp" name="totp" th:field="*{isEnabledTotp}" type="checkbox"><br>
    <input type="submit" value="Zapisz">
</form>
<br>
<div th:if="${not #lists.isEmpty(devices)}">
    <p>Ostatnie logowania:</p>
    <table>
        <thead>
        <tr>
            <th>Data logowania</th>
            <th>Urządzenie</th>
            <th>Adres IP</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="device : ${devices}">
            <td th:text="${#temporals.format(device.lastLoggedIn, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${device.deviceDetails}"></td>
            <td th:text="${device.ipAddress}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${#lists.isEmpty(devices)}">
    <p>Brak zapisu ostatnich logowań</p>
</div>
<br>
<h1>Usuwanie konta</h1>
<a th:href="@{/delete-account}">Usuń konto</a>
</body>
</html>