<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Twoje notatki</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<nav>
    <form th:action="@{/}">
        <button type="submit">Strona główna</button>
    </form>
    <div sec:authorize="isAnonymous()">
        <form th:action="@{/login}">
            <button type="submit">Logowanie</button>
        </form>
    </div>
    <div sec:authorize="isAnonymous()">
        <form th:action="@{/register}">
            <button type="submit">Rejestracja</button>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/notes}">
            <button type="submit">Notatki</button>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/manage}">
            <button type="submit">Konto</button>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()">
        <form method="post" th:action="@{/logout}">
            <button type="submit">Wyloguj się</button>
        </form>
    </div>
</nav>
<span>Aktualnie zalogowany użytkownik:</span>
<span th:text="${username}"></span>
<h1>Twoja lista notatek:</h1>
<ul>
    <li th:each="note : ${notes}">
        <span th:text="${note.name}"></span>
        <a th:href="@{'/notes/details/' + ${note.id}}">Szczegóły</a>
        <a th:href="@{'/notes/delete/' + ${note.id}}">Usuń notatkę</a>
    </li>
</ul>

<a th:href="@{'/notes/add'}">Dodaj Nową Notatkę</a>
</body>
</html>