<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Podaj nowe hasło</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<nav>
    <form th:action="@{/}">
        <button type="submit">Strona główna</button>
    </form>
    <div sec:authorize="isAnonymous()">
        <form th:action="@{/login}">
            <button type="submit">Logowanie</button>
        </form>
    </div>
    <div sec:authorize="isAnonymous()">
        <form th:action="@{/register}">
            <button type="submit">Rejestracja</button>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/notes}">
            <button type="submit">Notatki</button>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/manage}">
            <button type="submit">Konto</button>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()">
        <form method="post" th:action="@{/logout}">
            <button type="submit">Wyloguj się</button>
        </form>
    </div>
</nav>
<br>
<form action="#" class="register" method="post" th:action="@{/password-reset-form}" th:object="${form}">

    <input type="hidden" th:field="*{token}" th:value="*{token}">

    <label for="password">Hasło</label>
    <input id="password" placeholder="password" th:field="*{password}" type="password"/>
    <p class="error" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Złe hasło</p>

    <span>Hasło musi mieć 8-64 znaków, w tym dużą i małą literę, liczbę oraz znak specjalny.</span>

    <label for="matchingPassword">Powtórz hasło</label>
    <input id="matchingPassword" placeholder="" th:field="*{matchingPassword}" type="password"/>

    <button type="submit" value="process-register">Wyślij email</button>

</form>
</body>
</html>